### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
Total_schools = len(school_data_complete["school_name"].unique())
Total_students = (school_data_complete["student_name"].count())
Total_budget = school_data_complete["budget"].unique().sum()
Avg_math_score = school_data_complete["math_score"].mean()
Avg_reading_score = school_data_complete["reading_score"].mean()
Pass_in_math = len(school_data_complete[school_data_complete["math_score"] >= 70])
Pass_in_reading = len(school_data_complete[school_data_complete["reading_score"] >= 70])
Pass_in_both = len(school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)])

results = pd.DataFrame({
    "Total Schools" :[Total_schools] ,
    "Total Students" : f'{Total_students:,}',
    "Total Budget" : f'${Total_budget:,}' ,
    "Average Math Score" : Avg_math_score ,
    "Average Reading Score" : Avg_reading_score,
    "% Passing Math" : (Pass_in_math/Total_students) * 100,
    "% Passing Reading" : (Pass_in_reading/Total_students) * 100,
    "% Overall Passing" :(Pass_in_both/Total_students) * 100
})
results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [9]:
school_group = school_data_complete.groupby("school_name")
school_type = pd.DataFrame(school_group["type"].unique())

Total_student = pd.Series(school_group["student_name"].count())
Total_school_budget = pd.Series(school_group["budget"].unique())
per_student_budget = pd.Series(Total_school_budget/Total_student)
avg_math_score = pd.Series(school_group["math_score"].mean())
avg_reading_score = pd.Series(school_group["reading_score"].mean())

df_student_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
group_passing_math = df_student_passing_math.groupby("school_name")
percentage_passing_math = pd.DataFrame((group_passing_math["student_name"].count()/Total_student) *100)


df_student_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
group_passing_reading = df_student_passing_reading.groupby("school_name")
percentage_passing_reading = pd.DataFrame((group_passing_reading["student_name"].count()/Total_student) *100)


df_student_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
group_passing_overall = df_student_passing_overall.groupby("school_name")
percentage_passing_overall = pd.DataFrame((group_passing_overall["student_name"].count()/Total_student) *100)

school_summary = pd.DataFrame({
    "School Type" : school_type["type"],
    "Total Students" :Total_student,
    "Total School Budget" : Total_school_budget,
    "Per Student Budget" :per_student_budget,
    "Average Math Score" : avg_math_score,
    "Average Reading Score" :avg_reading_score,
    "% Passing Math" :percentage_passing_math["student_name"] ,
    "% Passing Reading" :percentage_passing_reading["student_name"],
    "% Passing Overall" :percentage_passing_overall["student_name"]
})
school_summary
#school_type

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

* Sort and display the top five performing schools by % overall passing.

In [ ]:
school_summary.sort_values("% Passing Overall",ascending=False ).head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
school_summary.sort_values("% Passing Overall").head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
grade_9th = school_data_complete.loc[school_data_complete["grade"] == '9th',["school_name","math_score"]]
grade_9th_group = grade_9th.groupby("school_name")
grade_9th_avg_math_score = pd.Series(grade_9th_group["math_score"].mean())

grade_10th = school_data_complete.loc[school_data_complete["grade"] == '10th',["school_name","math_score"]]
grade_10th_group = grade_10th.groupby("school_name")
grade_10th_avg_math_score = pd.Series(grade_10th_group["math_score"].mean())

grade_11th = school_data_complete.loc[school_data_complete["grade"] == '11th',["school_name","math_score"]]
grade_11th_group = grade_11th.groupby("school_name")
grade_11th_avg_math_score = pd.Series(grade_11th_group["math_score"].mean())

grade_12th = school_data_complete.loc[school_data_complete["grade"] == '12th',["school_name","math_score"]]
grade_12th_group = grade_12th.groupby("school_name")
grade_12th_avg_math_score = pd.Series(grade_12th_group["math_score"].mean())

math_avg_scores_by_grade= pd.DataFrame({
    "9th" : grade_9th_avg_math_score,
    "10th" :grade_10th_avg_math_score,
    "11th" :grade_11th_avg_math_score,
    "12th" :grade_12th_avg_math_score
    
})
math_avg_scores_by_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
grade_9th_r = school_data_complete.loc[school_data_complete["grade"] == '9th',["school_name","reading_score"]]
grade_9th_group_r= grade_9th_r.groupby("school_name")
grade_9th_avg_reading_score = pd.Series(grade_9th_group_r["reading_score"].mean())

grade_10th_r = school_data_complete.loc[school_data_complete["grade"] == '10th',["school_name","reading_score"]]
grade_10th_group_r = grade_10th_r.groupby("school_name")
grade_10th_avg_reading_score = pd.Series(grade_10th_group_r["reading_score"].mean())

grade_11th_r = school_data_complete.loc[school_data_complete["grade"] == '11th',["school_name","reading_score"]]
grade_11th_group_r = grade_11th_r.groupby("school_name")
grade_11th_avg_reading_score = pd.Series(grade_11th_group_r["reading_score"].mean())

grade_12th_r = school_data_complete.loc[school_data_complete["grade"] == '12th',["school_name","reading_score"]]
grade_12th_group_r = grade_12th_r.groupby("school_name")
grade_12th_avg_reading_score = pd.Series(grade_12th_group_r["reading_score"].mean())

reading_avg_scores_by_grade= pd.DataFrame({
    "9th" : grade_9th_avg_reading_score,
    "10th" :grade_10th_avg_reading_score,
    "11th" :grade_11th_avg_reading_score,
    "12th" :grade_12th_avg_reading_score
    
})
reading_avg_scores_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
school_summary["Per Student Budget"] = pd.to_numeric(school_summary["Per Student Budget"])
school_summary.info()

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type